<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657100247673-4p475v8a0jgc5rb61t43u0t0ejbptaft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657100247673-4p475v8a0jgc5rb61t43u0t0ejbptaft</string>
	<key>API_KEY</key>
	<string>AIzaSyCCGEyIUtyl5l1jhtpzQ8KUCFFaB80BKYY</string>
	<key>GCM_SENDER_ID</key>
	<string>657100247673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.farenasl.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-16d17</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-16d17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657100247673:ios:a29315cdbdd082b94c3aa8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-16d17.firebaseio.com</string>
</dict>
</plist>