<h1>{{title}}</h1>

<div class="container">
  <div class="col">
    <div class="row">
      <label>Operando A</label>
    </div>
    <div class="row">
      <input type="number" [(ngModel)]="opA" [placeholder]="pHValue">
    </div>
    <div class="row">
      <label>Operando B</label>
    </div>
    <div class="row">
      <input type="number" [(ngModel)]="opB" [placeholder]="pHValue">
    </div>
    <br />
    <div class="row">
      <button
       class="btn btn-primary"
       (click)="onSumar()">Sumar</button>
    </div>
    <div class="row">
      <label>Resultado: {{resultado}}</label>
    </div>
  </div>
</div>
